header{
    background-color: var(--color_main_2);
    background-image: url(../../images/Bg1.svg);
    height: 56px;
}

header span, header a{
    font-size: 20px;
    color: #7190a7;
    font-weight: 250;
    font-family: Roboto_Regular;
}

header a{
    color: #caddea;
    text-decoration: none;
}

header .login, header .live-chart{
    font-size: 22px;
    /* letter-spacing: 1px;
    line-height: 24px; */
    text-transform: uppercase;
    color: var(--color_btn_text);
    font-weight: 400;
    font-family: Roboto_Regular;

    &:hover{
        color: var(--color_btn_text_hover);
    }
}

